@media (max-width: 991px) {
    .container {
        width: auto;
        padding: 0 20px;

        .slick-dots {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            margin-bottom: 0;
            padding-left: 0;

            li {
                margin: 30px 20px;

                button {
                    display: block;
                    border: none;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    background-color: $main_color;
                    color: $main_color;
                    transition: 0.4s all;

                    &:hover {
                        width: 30px;
                        height: 30px;
                        box-shadow: 3px 3px 20px $main_color;
                    }
                }
            }
        }

        .catalog__content {
            grid-template-columns: repeat(2, auto);
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 789px) {
    .container {
        .advantages__icons {
            flex-wrap: wrap;
        }

        .advantages__icon {
            margin: 0 20px;
        }

        .title_left {
            font-size: 26px;
            text-align: center;
        }

        .consultation__descr {
            font-size: 18px;
            text-align: center;
        }

        .feed-form {
            margin: 36px auto;
        }
    }
}

@media (max-width: 750px) {
    .catalog {
        &__tabs {
            flex-direction: column;
        }

        &__tab {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 650px) {
    .catalog {
        .catalog__content {
            grid-template-columns: repeat(1, auto);
            justify-content: center;
            align-items: center;
        }
    }

    .reviews {
        &-item {
            flex-direction: column;
            align-items: center;

            .reviews-item__info {
                margin-top: 30px;
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (max-width: 691px) {
    .container {
        .header {
            display: grid;
            grid-template-columns: 50% 50%;

            &__official {
                justify-self: end;
                text-align: right;
            }

            &__contacts {
                margin-top: 10px;
                grid-column: 2/2;
                justify-self: end;
            }
        }

        .promo {
            &__wrapper {
                align-items: center;
            }
        }
    }
}

@media (max-width: 593px) {
    .advantages__icons {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 550px) {
    .container {
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__official {
                margin-top: 20px;
                text-align: center;
            }

            &__contacts {
                margin-top: 20px;
            }

            .button {
                margin: 10px auto;
            }
        }

        .promo {
            &__wrapper {
                margin-top: 30px;
                align-items: center;
            }

            &__header {
                font-size: 30px;
            }

            &__subheader {
                margin-top: 0;
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 470px) {
    .promo {

        &__header,
        &__subheader {
            text-align: center;
        }

        .promo__icons {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__icon {
            margin: 10px 20px;
        }
    }

    .reviews {
        .reviews-item__info {
            margin: 30px auto 0;
        }
    }
}

@media (max-width: 370px) {
    .container {
        .feed-form {
            width: 100%;
        }
    }
}

@media (max-width: 340px) {
    .promo {
        .button {
            &_main {
                width: 100%;
            }
        }
    }

    .catalog {
        .catalog-item {
            width: 100%;
        }
    }
}