* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.slider {
    background: url(../img/slider/slider.jpg) center center/cover no-repeat;
    min-height: 800px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 39px 13px 62px 13px;
    position: relative;
}

.logo_text {
    text-align: center;
}

.text {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 14px;
}

h1.title {
    margin-top: 53px;
}

.title {
    font-family: Roboto;
    font-size: 41px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f9bf3b;
    text-align: center;
}

.title_h2 {
    margin-top: 30px;
}

.simple {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 0;
}

.slider_text {
    font-family: Roboto;
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 23px;
}

.slider_text span {
    font-weight: 700;
    color: #f9bf3b;
}

.slider_btn {
    display: block;
    width: 321px;
    height: 80px;
    background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
    border: 4px solid rgba(0, 0, 0, 0.22);
    cursor: pointer;
    margin: 69px auto;
    /*TEXT*/
    box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.21);
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.more {
    text-align: center;
}

.text_more {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
}

.arrow_down {
    margin-top: 13px;
}

.intensive {
    background-color: #efefef;
    min-height: 602px;
}

.intensive_title {
    font-family: Roboto;
    font-size: 30px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
    margin-top: 85px;
}

.line {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.free_title {
    font-family: Roboto;
    font-size: 23px;
    line-height: 20px;
    font-weight: 400;
    color: #4a4a4a;
    text-align: center;
    margin-top: 18px;
}

.intensive_product {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.intensive_product-1,
.intensive_product-2,
.intensive_product-3 {
    width: 100%;
}

.product_text {
    margin-top: 33px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #4a4a4a;
    width: 340px;
    text-align: center;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization_header {
    margin-top: -25px;
    font-family: Roboto;
    font-size: 29px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
    margin-left: 390px;
}

.optimization_text {
    margin-top: 25px;
    width: 750px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    color: #4a4a4a;
    margin-left: 390px;
}

.optimization_text span {
    font-weight: 700;
}

.woman {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../img/icons/finish_slider.jpg") center center/cover no-repeat;
}

.finish_header {
    font-family: Roboto;
    font-size: 30px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #efefef;
    text-align: center;
}

.finish_result {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}

.finish_block {
    width: 204px;
}

.result_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.result_text {
    margin-top: 25px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    color: #efefef;
    text-align: center;
}

.gift {
    padding: 80px 0 0 0;
    min-height: 628px;
    background-color: #efefef;
}

.img_gift {
    display: flex;
    justify-content: center;
}

.gift_text {
    margin-top: 42px;
    width: 1131px;
    font-family: Roboto;
    font-size: 30px;
    line-height: 43px;
    font-weight: 400;
    color: #252525;
    text-align: center;
}

.gift_btn {
    margin-top: 48px;
    margin-bottom: 0;
}

.first_web {
    margin-top: 89px;
    min-height: 515px;
}

.web_content {
    text-align: center;
}

.start_web {
    margin-top: 37px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
}

.data {
    margin-top: 30px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
}

.sign_up {
    margin-top: 25px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    color: #4a4a4a;
}

footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding-top: 30px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.links span {
    color: #888888;
    margin: 0 5px 0 5px;
}

.link {
    font-family: Roboto;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #888888;
    text-decoration: underline;
}

.call_us {
    text-align: center;
    text-decoration: none;
}



