.carousel {
    padding: 81px 0 82px;

    &__inner {
        max-width: 750px;
        margin: 0 auto;
    }

    &__img {
        display: block;
        width: 100%;
    }

    // .tns-item {
    //     img {
    //         display: block;      // При использовании библиотеки tiny-slider 
    //         margin: 0 auto;
    //     }
    // }

    .slick-prev,
    // При использовании библиотеки tiny-slider, переименовать .slick-next .slick-prev в next и prev
    .slick-next {
        position: absolute;
        top: 50%;
        left: -66px;
        transform: translateY(-50%);
        border: none;
        background-color: #ffffff;

        img {
            width: 31px;
            height: 50px;
        }
    }

    .slick-next {
        right: -66px;
        left: auto;
    }
}